@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.carouselItems{
    @apply 
    flex-shrink-0
     overflow-hidden

}
.carouselItems>img{
    @apply h-full w-full object-contain bg-center

}

@font-face {
    font-family:'coffeeItallic';
    src: url('addOns/CoffeeHealingItalic-RpP6o.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}
.AnimateMe-gadient,.notiFyMe {
    @apply
    animate-gradientShine
    animate-shine 
}
.scrollbar-none {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}
.infiniteLoop {
    position: relative;
    right:0%;
    animation: loopAnimate 40s forwards infinite;
    
}



@keyframes loopAnimate {
    0%, 100% {
        right: 0%;
    }
    50% {
        right: 200%;
    }

}

details summary{
    list-style: none;
}

.animateCover{
    animation: opacityAnime 3s forwards infinite ;

}
.heroTransition1{
    animation: heroTransition 5s forwards infinite ease-in-out;
}

@keyframes heroTransition {
    0%, 100%{
        width: 0%;
    }
    20%,80%{
        width: 100%;
    }
}

@keyframes opacityAnime {
    0%,100%{
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    
}
main div{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;

}
@keyframes appear {
    from{
        /* opacity: 0; */
        scale: 0.8;
    }
    to{
        /* opacity: 1; */
        scale: 1;
    }
};

.desinOfHero .box1 {
    animation: loop1 var(--runTime) forwards infinite ease-in-out;
}
@keyframes loop1 {
from{
     transform: translateY(-100%);
    }
    to{
    transform: translateY(500%);

}
}


/* npx tailwindcss -i ./src/style.css -o ./src/output.css --watch */